body {
    background-color: rgb(255, 255, 255);
}

.section1 {
    background-color: #e56969;
    padding: 20px;
    text-align: center;
    border: solid rgb(0, 0, 0);
}
 
.section2 {
    margin-top: 20px; 
    display: flex;                         
}

.section2 > div {
    min-width: 300px;
    min-height: 400px;
    border: solid rgb(0, 0, 0);      
    background-color: #e56969;
  }
